<% include header.html %>
<p><%= content %></p>


<h2>1.按照keyword搜索</h2>
<form method="post" id="signup" action="/search/keyword">
   <p>city</p>
   <input type="text" name="city" id="city" value=""/>
   <p>keyword</p>
   <input type="text" name="keyword" id="keyword" value=""/>
   <button id="submit">send</button>
</form>
</div>
<hr/>

<h2>2.按照condition搜索</h2>
<form method="post" id="signup" action="/search/condition">
   <p>city</p>
   <input type="text" name="city" id="city" value=""/>
   <p>keyword</p>
   <input type="text" name="keyword" id="keyword" value=""/>
   <p>room_size</p>
   <input type="text" name="room_size" id="room_size" value=""/>
   <p>room_number</p>
   <input type="text" name="room_number" id="room_number" value=""/>
   <p>rent_way</p>
   <input type="text" name="rent_way" id="rent_way" value=""/>

   <button id="submit">send</button>
</form>
</div>
<hr/>


<% include footer.html %>